<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <mat-icon>flag</mat-icon>सह्याद्रीचा मावळा प्रतिष्ठाण
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink=" ">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Join Now">Join Now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="blog">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" mat-raised-button color="warn">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<app-home *ngIf="router.url == '/'"></app-home>

<router-outlet></router-outlet>